<hr />
<div>
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#htc" aria-controls="htc" role="tab" data-toggle="tab">Main /
        HTCondor Pool</a></li>
    <li role="presentation"><a href="#hpc" aria-controls="hpc" role="tab" data-toggle="tab">IC / HPC Systems</a>
    </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <p>Run a notebook on the HTC systems</p>
    <div role="tabpanel" class="tab-pane" id="hpc">
      {% if partitions|length > 0 -%}
      <fieldset id="icform">
        <div class="form-group row">
          <div class="col-sm-3">
            <label for="partition">Select Partition</label>
            <select id="partition" class="form-control" name="req_partition" onchange="updatedPartition()">
              {% for name, _ in partitions %}
              <option value="{{ name }}">{{ name }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-sm-3">
            <label for="account">Select Account</label>
            <select id="account" class="form-control" name="req_account" onchange="updatedAccount()">

            </select>
          </div>
          <div class="col-sm-2">
            <label for="qos">QOS</label>
            <select id="qos" class="form-control" name="req_qos" onchange="">
            </select>
          </div>
          <!-- </div> -->
          <!-- <div class="form-group row"> -->
          <div class="col-sm-2">
            <label for="account">GPU</label>
            <select class="form-control" id="container" name="req_gputype" />
            <option value="">any</option>
            <option value="pascal">Pascal</option>
            <option value="tesla">Tesla</option>
            <select />
          </div>
          <div class="col-sm-2">
            <label for="runtime">Runtime (min)</label>
            <input type="number" class="form-control" max=960 min=30 step=30 value="120" id="runtime"
              name="req_runtime" />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-8">
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#hideextrafields"
              aria-expanded="false" aria-controls="hideextrafields">
              +
            </button>
            <div class="collapse" id="hideextrafields">
              <label for="extraopts">Extra SBATCH options</label>
              <textarea id="extraopts" class="form-control" name="req_extraopts"></textarea>
            </div>
          </div>
        </div>
      </fieldset>
      {% else -%}
      <div class="form-group row warning">
        <input name="local" hidden=true value="true" />
        <p class="col-sm-12 text-danger bg-warning"> WARNING: You are not in any SLURM
          partitions, please request membership via <a
            href="mailto:RT-SDCC-Cluster@bnl.gov">RT-SDCC-Cluster@bnl.gov</a>,
          you can only spawn locally!
        </p>
      </div>
      {% endif -%}
    </div>
    <div role="tabpanel" class="tab-pane active" id="htc">
      <div class="form group row">
        <div class="col-sm-3">
          <label for="runtime">Dedicated CPUs</label>
          <input type="number" class="form-control" max=64 min=1 step=1 value="1" id="cpus" name="cpus" />
        </div>
        <div class="col-sm-3">
          <label for="runtime">Memory (Mb)</label>
          <input type="number" class="form-control" max=64000 min=200 step=50 value="1500" id="ram" name="ram" />
        </div>
      </div>
    </div>
  </div>
</div>
<input type=hidden id="spawntype" name="spawntype" value="htc">


<style>
  .disabled {
    pointer-events: none;
    background: lightgrey;
    /* cursor: not-allowed; */
  }
</style>
<script type="text/javascript">
  function disableicform() {
    var checkbox = document.getElementById("local");
    var upperform = document.getElementById("icform");
    if (checkbox.checked == true) {
      upperform.disabled = true;
    } else {
      upperform.disabled = false;
    }
  }

  // [ [partition, account, qos, time], ..., ...]
  var slurmdata = {{ slurm| tojson }};

  // [ [partition, time], ...]
  var partdata = {{ partitions| tojson }};

  var pselect = document.getElementById('partition');
  var aselect = document.getElementById('account');
  var qselect = document.getElementById('qos');
  var timebox = document.getElementById('runtime');


  function replaceSelect(selector, values) {
    var n = 0;
    selector.classList.remove("disabled");
    while (selector.options.length > 0) {
      selector.remove(0);
    }
    for (const v of values) {
      n += 1;
      selector.add(new Option(v, v));
    }
    if (n <= 1) {
      selector.classList.add("disabled");
    }
  }


  function updatedPartition() {
    var partition = pselect.options[pselect.selectedIndex].value;
    var accounts = new Set(slurmdata.filter(x => x[0] == partition).map(x => x[1]));
    var newtime = partdata.filter(x => x[0] == partition).map(x => x[1])[0];
    replaceSelect(aselect, accounts);

    if (timebox.value > newtime) {
      timebox.value = newtime;
    } else if (timebox.value < newtime / 2) {
      timebox.value = newtime / 2;
    }
    timebox.max = newtime;

    updatedAccount();

  }

  function updatedAccount() {
    var account = aselect.options[aselect.selectedIndex].value;
    var qos = new Set(slurmdata.filter(x => x[1] == account).map(x => x[2]));
    replaceSelect(qselect, qos);
  }
  updatedPartition();

  // Change hidden input to indicate which tab is active
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    $('#spawntype').val($(e.target).attr('aria-controls'));
  });
</script>