<hr/>
<p class="lead">
Please choose your parameters to run on a node with a GPU
or select to run locally on the submit node.
</p>
<fieldset id="icform">
<div class="form-group row">
    <div class="col-sm-4">
        <label for="partition">Select IC Partition</label>
        <select id="partition" class="form-control" name="req_partition" onchange="">
            {% for name, _ in partitions %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-4">
        <label for="account">Select Account</label>
        <select id="account" class="form-control" name="req_account" onchange="">
            {% for name in accounts  %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-sm-4">
        <label for="qos">Select QOS</label>
        <select id="qos" class="form-control" name="req_qos" onchange="">
            {% for name in qos %}
            <option value="{{ name }}">{{ name }}</option>
            {% endfor %}
        </select>
    </div>
</div>
<div class="form-group row">
    <div class="col-sm-2">
        <label for="gpus">Num GPUs</label>
        <input type="number" class="form-control" max=2 min=0 value="1" id="gpus" name="req_ngpus"/>
    </div>
    <div class="col-sm-2">
        <label for="runtime">Runtime (min)</label>
        <input type="number" class="form-control" max=960 min=30 step=30 value="120" id="runtime" name="req_runtime"/>
    </div>
</div>
</fieldset>
<h2 class="text-center">~ or ~</h2>
<div class="form-group row">
    <div class="col-sm-3 checkbox">
        <label for="local" class="checkbox">
            <input type="checkbox" id="local" name="local" onclick="disableicform()"/>
            Run Locally?
        </label>
    </div>
</div>
<script type="text/javascript">
function disableicform() {
  var checkbox = document.getElementById("local");
  var upperform = document.getElementById("icform");
  if (checkbox.checked == true){
    upperform.disabled = true;
  } else {
    upperform.disabled = false;
  }
}



</script>
